ChangeLog
_region_.tex
.DS_Store
paper.pdf
*.delivs 
*.deliverables 
*-blx.bib
*.fls 
*.bcf
*.pdata
*.toc
*.out
*.aux
*.log
*.bbl
*.blg
*.run.xml
*.nav
*.snm
*.idx
*.ind
*.thm
*.fol
*.pdf
*.vrb
*.swp
Proposal/final.pdf
Proposal/final-123.pdf
Proposal/final-45.pdf
Proposal/grantagreement.pdf
Communication/OpenDreamKit-in-five-slides.pdf
*~
auto
*.synctex.gz
.ipynb_checkpoints/
TAGS
