*.delivs 
*.deliverables 
*-blx.bib
*.fls
*.pdata
*.toc
*.out
*.aux
*.log
*.bbl
*.blg
*.run.xml
Proposal/final.pdf
Proposal/final-123.pdf
Proposal/final-45.pdf
Proposal/grantagreement.pdf
Proposal/proposal.pdf
