.ltx_bib_cited {display:none}
.ltx_bib_key {display:none}

/* lifted from LaTeXML.css */
.ltx_bib_title { font-style:italic; }
.ltx_bib_article .bib-title { font-style:normal !important; }
.ltx_bib_journal  { font-style:italic; }
.ltx_bib_volume { font-weight:bold; }
