SPLIT.at
proposal.ctan.zip
auto
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.run.xml
*.pdata
*-blx.bib
*.deliverables
*.delivs
*.bcf
/dfg/examples/report/*.synctex
/dfg/examples/report/*.pdf
